<!DOCTYPE html>
<html>
<head>
  <title>Campusevents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>




<body>


  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="http://localhost:4567/events">Campus Events</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li><a href="http://localhost:4567/events">Events</a></li>
<li><a href="http://localhost:4567/attendees">Attendees</a></li>
<li><a href="http://localhost:4567/meetings">Meetings</a></li>
<li><a href="http://localhost:4567/locations">Locations</a></li>
<li><a href="http://localhost:4567/sponsors">Sponsors</a></li>
<li><a href="http://localhost:4567/subscriptions">Subscriptions</a></li>
</ul>

</div>
</div>

</nav>


<div class="container">
<div class="row">

<div class="container"
<div class="row">

    <%= yield %>

</div>
</div>

</body>
</html>
